/* Body style: default background, Verdana font */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header style: tan color complementary to cerulean. Padding to cover top of view */
header {
    background-color: #D1B4A3;
    margin-top: 0;
    padding-top: 50px;
    height: 15vh;
}
/* Header H1 style: large font, center alignment */
header > h1 {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
header > p {
  padding-left: 20px;
}
footer {
    background-color: #D1B4A3;
}
p.ind {
    text-indent: 50px;
}
/* Defining flex container */
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
/* Defining box class */
.box {
    float: left;
}
/* Left column */
.box.left {
    width: 25%;
}
/* Right column */
.box.right {
    width: 75%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .box.left, .box.right {
      width: 100%;
    }
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}
/* Defines the about me id so the left column looks different than the right */
#aboutme {
    background-color: #99B5D2;
    padding: 20px;
    border-right: 1px solid grey;
}
/* Defines iframe so that it has no visible border or scroll */
iframe {
    border: none;
    min-width: 100%;
    height: calc(100% - 5px);
    overflow: hidden;
  }
::-webkit-scrollbar {
    display: none;
}
/* Style for lists on home page */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    li {
        float: left;
    }
    li a {
        display: inline-block;
        text-align: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #3C4652;
    }
    li a:visited {
        color: white;
    }
    .active {
        background-color: #99B5D2;
      }
#title {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    font-size: medium;
}
table {
    width: 100%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid grey;
}